@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

input[type="button"] {
    width: 90px;
    height: 30px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem;
    font-size: 1rem;
    position: fixed;
    width: 100%;
}

nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
}

nav .nav-items a {
    margin: 0 1rem;
}

main {
    /* display: flex; */
    height: 100vh;
    padding: 1rem;
}

#txt {
    margin-top: 60px;
}

#display {
    display: flex;
    justify-content: space-around;
}

#tshirt {
    height: 35vh;
    width: 20vw;
}

#shopImg {
    height: 70vh;
    width: 70vw;
}

#container {
    border: 1px solid black;
    padding: 10px;
}

#container p {
    display: flex;
    justify-content: space-between;
}

.colors {
    display: flex;
}

.colors .row{
    display: flex;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 0 5px;
}

.info #addBtn {
        width: 100%;
        border-radius: none;
        border: none;
        padding: 1rem;
        font-size: 1rem;
        color: white;
        background-color: black;
        cursor: pointer;
}
