*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

input[type="submit"] {
    width: 90px;
    height: 30px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem;
    font-size: 1rem;
    position: fixed;
    width: 100%;
}

nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
}

nav .nav-items a {
    margin: 0 1rem;
}

li{
    list-style: none;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    font-size: 1.5rem;
}

main {
    /* display: flex; */
    height: 100vh;
    padding: 1rem;
}

.Form{
    margin: 5rem 2rem;          
}


input[type=text], input[type=email], input[type=password], input[type=confirm-password],
submit {
width: 90vw;
height: 40px;
border: 1px solid #ccc;
border-radius: 0.5vw;
box-sizing: border-box;
font-size: 1rem;
color: black;
}

input[type=submit], button[type=submit] {
width: 20vw;
height: 40px;
background-color: #ccc;
color: black;
border: none;
cursor: pointer;
font-size: 2vw;
}

input[type=submit]:hover {
background-color: #45a049;
}